/* Variables */

$font-header: "Merriweather", serif;
$font-text: "Mulish", sans-serif;
$font-logo: "Dancing Script", cursive;

$color-one: #fde104;
$color-two: #ffffff;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.6rem;
  line-height: 1.7;
  font-family: $font-text;
}

section {
  padding: 36px 0;
}

/* Splash */

.logo {
  justify-content: space-between;
  display: flex;
  align-items: center;
  & > a {
    font-family: $font-logo;
    color: #edb814;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
  }
}
ul {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  padding: 1rem 0;

  li {
    padding-right: 2rem;

    text-transform: uppercase;
    font-size: 0.7rem;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $color-two;

      &:hover {
        font-size: 0.8rem;
        color: $color-one;
        transition: all 0.5s;
      }
    }
  }
}

.page-title {
  font-size: 3rem;
  color: $color-two;
  font-weight: 700;
  font-family: $font-header;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
}

.page-subtitle {
  font-size: 1.5rem;
  color: $color-two;
  font-weight: 500;
  font-family: $font-header;
  font-style: italic;
  margin-bottom: 0;
}

.splash {
  height: 50vh;
  position: relative;
  text-align: center;
}

.splash::before {
  position: absolute;
  content: "";
  background-image: url("https://images.pexels.com/photos/370470/pexels-photo-370470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  object-fit: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.splash-inner {
  position: relative;
  display: inline-block;
  margin-top: 36px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin-top: 20px;
  padding: 16px;
  border-radius: 2px;
  font-family: $font-header;
  font-size: 0.8rem;
  color: $color-two;
  background-color: $color-one;
  text-align: center;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  word-spacing: 0.1rem;
}

.btn:hover {
  color: $color-one;
  background-color: $color-two;
  transition: all 0.5s;
}

/* Services */

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  font-family: $font-header;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  font-family: $font-header;
  margin: 8px auto;
}

h5 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  margin: 0 auto;
}
p {
  padding: 0 45px;
  margin-top: 0;
}

.service {
  margin: 50px auto 0 auto;

  i {
    border: 2px solid $color-one;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $color-one;
    margin: 0 auto;
  }
}

.element {
  text-align: center;
}
